*{
    font-family: 'Josefin Sans', sans-serif;
}


body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0F0F0F;
}


/* ---------------------------------- Header ---------------------------------- */


.head {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 90%;
    margin: auto;
}


.head a {
    text-decoration: none;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-size: 1.15em;
    padding: 2.5vh;
    transition: 0.2s;
    font-size: 1.3em;
}


.logo {
    width: 40px;
    height: auto;
}


.logo-container {
    margin-right: 20px;
}


.head a:hover {
    color: #7495ce;
   
}


.header {
    padding: 50px;
    text-align: center;
    background-image:linear-gradient( rgba(0, 0, 0, 0.577), rgba(0, 0, 0, 0.56) ), url("/imgs/52760459862_f6987855dd_o.jpg");
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/imgs/52760459862_f6987855dd_o.jpg");
    background-position: center;
    color: white;
    font-size: 24px;
    margin-bottom: 100px;
}


/* ---------------------------------- Text ---------------------------------- */
.LIRT{
    text-align: center;
    color: white;
}


/* ---------------------------------- Robot Overview ---------------------------------- */


.image-container {
    text-align: center;
    width: 50%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    background: url("/imgs/a1f97cbdcb612b8724b65cdc76a063d2ba1f6f9d.jpeg") center/cover no-repeat;
    padding: 220px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* ---------------------------------- Socail Meida ---------------------------------- */


.links {
    position: fixed;
    top: 10px;
    right: 80px;
    display: flex;
    z-index: 1;
}


.fa {
    margin-left: 10px;
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
}


.fa-instagram {
    color: white;
}


.fa-youtube {
    color: white;
}


.fa-twitter {
/*    background-color: #282A3A;*/
    color: white;
}


.LIRT {
    text-align: center;
    margin-top: 20px;
    color: #7b7b7b;
}


 
.fa:hover {
    opacity: 0.7;
}


/* ---------------------------------- Buttons ---------------------------------- */


.sponsors{
    padding: 10px;
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}


/* ---------------------------------- Sponsors ---------------------------------- */


.sponsors-text{
    margin-top: 80px;
    text-align: center;
    color: white;
}



.card,
.card, 
.MacDonalds {
    background-image: url("/imgs/sponsors/McDonald\'s_Golden_Arches.svg.webp");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center; 
    background-color: #090909;
    background-size: 70%;
}

.Formula1{
    background-image: url("/imgs/sponsors/F1.svg.webp");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center; 
    background-size: 100%;
    background-color: #090909;
}


.Nasa{
    background-image: url("/imgs/sponsors/NASA_logo.svg.png");
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center; 
    background-size: 85%;
    background-color: #090909;
}


.sponsors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-size: 100%;
}

/* ---------------------------------- Sponsors cards animation ---------------------------------- */
.card {
    width: 300px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    color: white;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
  }

  .card-content {
    padding: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  .card-content .card-title {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
    text-transform: uppercase;
  }

  .card-content .card-para {
    color: inherit;
    opacity: 0.8;
    font-size: 14px;
  }

  .card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }

  .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }
 
  .card:hover:before {
    transform: translateX(-100%);
  }
  
  .card:hover:before {
    transform: translateX(-100%);
  }
  
  .card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.1));
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
  }

  .card:hover:after {
    transform: translateX(100%);
  }

/* ---------------------------------- Buttons ---------------------------------- */


button{
    width: 400px;
    height: 250px;
    display: flex;
    margin: 3px;
    text-align: center;
    border: none;
    padding: 10px;
    overflow: hidden;
    position: relative;
    color: white;
    font-size: medium;
    font-weight: 500;
    background-color: transparent;
}


button span{
    display: block;
    margin-top: 10px;
}


button:hover{
    cursor: pointer;
}


/* ---------------------------------- About Us H3 ---------------------------------- */


.info-about-us{
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
}


h3{
    color: white;
    text-align: center;
    font-size: 3em;
}


.info-about-us {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.foundation,
.members,
.competitions,
.teams {
    border: 1px solid #ccc;
    padding: 20px;
}


.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.button-container button {
    width: 230px;
    height: 60px;
    font-size: 18px;
    border: 5px solid rgb(177, 36, 36);
    transition: 0.2s;
}


.button-container button:hover {
    background-color: rgb(75, 2, 2);
}




/* ---------------------------------- About Us ---------------------------------- */


h4{
    font-size: 2em;
}


.info-about-us {
    text-align: center;
}


.foundation,
.members,
.competitions,
.teams
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Add margin between sections */
    color: white;
    border: 1px solid rgb(75, 2, 2);
}


/* ---------------------------------- About Us Buttons ---------------------------------- */


.button-container {
    width: 230px;
    height: 60px;
    font-size: 18px;
    border: 5px solid rgb(177, 36, 36);
    transition: 0.2s;
    margin-top: 10px; /* Adjust spacing between text and button */
    display: flex;
    align-items: center;
    justify-content: center;
}


.button-container:hover {
    background-color: rgba(75, 2, 2, 0.505);
}


.foundation {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.foundation button {
    width: 230px;
    height: 60px;
    font-size: 18px;
    border: 5px solid rgb(177, 36, 36);
    transition: 0.2s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


.foundation button:hover {
    background-color: rgba(75, 2, 2, 0.505);
}


.members {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.members button {
    width: 230px;
    height: 60px;
    font-size: 18px;
    border: 5px solid rgb(177, 36, 36);
    transition: 0.2s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


.members button:hover {
    background-color: rgba(75, 2, 2, 0.505);
}


.competitions {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.competitions button {
    width: 230px;
    height: 60px;
    font-size: 18px;
    border: 5px solid rgb(177, 36, 36);
    transition: 0.2s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


.competitions button:hover {
    background-color: rgba(75, 2, 2, 0.505);
}


.teams {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.teams button {
    width: 230px;
    height: 60px;
    font-size: 18px;
    border: 5px solid rgb(177, 36, 36);
    transition: 0.2s;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


.teams button:hover {
    background-color: rgba(75, 2, 2, 0.505);
}


/* ---------------------------------- People Media ---------------------------------- */


/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */


/* ---------------------------------- People Media ---------------------------------- */

/* before adding the photo to the div with the "card-photo" class, in the css clear the styles for .card-photo and remove .card-photo::before and .card-photo::after, then set the desired styles for .card- photo. */

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr)); /* 3x3 grid */
    align-items: center;
    width: 80%;
    gap: 20px;
    margin: 0 auto;
}


.name-card {
    --font-color: #ffffff;
    --font-color-sub: #666;
    --bg-color: #090909;;
    --main-color: rgb(177, 36, 36);
    max-width: 200px;
    width: 100%;
    height: 254px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}




.card-photo {
  transform: scale(0.3) translate(220px, 230px);
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;
  background: radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 14% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 10% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 7.5% 29%/20% 20%,radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 86% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 90% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 92.5% 29%/20% 20%,radial-gradient(circle at 50% 0,#ffdab9 29.5%,#8b4513 30%,#8b4513 35%,rgba(139,69,19,0) 35.5%) 50% 95%/40% 20%,radial-gradient(ellipse at 50% 100%,rgba(139,69,19,0) 49%,#8b4513 49.5%,#8b4513 52%,rgba(139,69,19,0) 52.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(255,255,255,0) 35%,white 35%,white 45%,rgba(255,255,255,0) 45.5%) 50% 89%/40% 13%,linear-gradient(#8b4513,#8b4513) 37% 100%/.25em 22%,linear-gradient(#8b4513,#8b4513) 63% 100%/.25em 22%,linear-gradient(80deg,rgba(0,0,0,0) 50%,#333 50.5%) 24% 100%/1em 18%,linear-gradient(-80deg,rgba(0,0,0,0) 50%,#333 50.5%) 76% 100%/1em 18%,linear-gradient(162deg,rgba(0,0,0,0) 10%,#333 10%) 30% 100%/1.5em 21%,linear-gradient(-162deg,rgba(0,0,0,0) 10%,#333 10%) 70% 100%/1.5em 21%,radial-gradient(ellipse at 100% 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 0 100%/37% 29%,radial-gradient(ellipse at 0 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 100% 100%/37% 29%,radial-gradient(ellipse at 50% 100%,#222 51%,rgba(0,0,0,0) 51.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(0,0,0,0.15) 40%,rgba(0,0,0,0) 40.5%) 50% 82%/20% 20%,linear-gradient(to right,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(to left,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(#ffdab9,#ffdab9) 50% 80%/20% 20%,linear-gradient(#48240a,#48240a) 50% 100%/65% 60%,radial-gradient(circle,white 30%,rgba(255,255,255,0) 62%) 50% 50%/100% 100%;
  background-color: #ccc;
  background-repeat: no-repeat;
  border-radius: 30%;
}


/* delete */
.card-photo::before {
  display: block;
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 160px;
  height: 200px;
  left: 50%;
  top: -10%;
  margin-left: -80px;
  background: radial-gradient(circle at 50% 0,#ffdab9 30%,#8b4513 30.5%,#8b4513 41%,rgba(139,69,19,0) 41.5%) 50% 76%/2em 2em,radial-gradient(ellipse,rgba(139,69,19,0) 25%,#5e2f0d 25.5%,#5e2f0d 40%,rgba(139,69,19,0) 40.5%) 50% 100%/100% 40%,radial-gradient(ellipse at 50% 0,#8b4513 40%,#ffdab9 40.5%,#ffdab9 58%,rgba(255,218,185,0) 59%) 50% 83%/3em 1em,linear-gradient(#5e2f0d,#5e2f0d) 50% 86%/1em 1em,radial-gradient(circle,#5e2f0d 40%,rgba(139,69,19,0) 40.5%) 26% 56%/1em 1em,radial-gradient(circle,#5e2f0d 40%,rgba(139,69,19,0) 40.5%) 74% 56%/1em 1em,radial-gradient(ellipse,rgba(139,69,19,0) 52%,#8b4513 52.5%,#8b4513 55%,rgba(139,69,19,0) 55.5%) 50% 100%/150% 80%,radial-gradient(ellipse,rgba(0,0,0,0) 46%,rgba(0,0,0,0.15) 46.5%,rgba(0,0,0,0.15) 53%,rgba(0,0,0,0) 53%) 50% 100%/150% 80%,radial-gradient(ellipse,#ffdab9 53%,rgba(255,218,185,0) 53.5%) 50% 100%/150% 80%,radial-gradient(ellipse at 50% 100%,rgba(139,69,19,0) 35.5%,#8b4513 36%,#8b4513 38%,white 38.5%) 50% -45%/110% 60%,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 30% 26%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 40% 25%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 50% 24.5%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 60% 25%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 70% 26%/1em 1em,radial-gradient(ellipse,#666 63%,#8b4513 63.5%,#8b4513 66%,rgba(139,69,19,0) 66.5%) 50% 100%/150% 80%,radial-gradient(ellipse,rgba(139,69,19,0) 40%,#5e2f0d 40.5%) 50% 0/150% 80%,linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)) 50% 50%/100% 100%;
  background-repeat: no-repeat;
  background-color: #ffdab9;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  border: 4px solid #8b4513;
  box-shadow: inset 0 -.2em 0 .5em rgba(0,0,0,0.15),inset 0 -1.6em 0 #5e2f0d;
}


/* delete */
.card-photo::after {
  display: block;
  content: '';
  position: absolute;
  width: 2.5em;
  height: .8em;
  left: 28.5%;
  top: 26%;
  background-color: #5e2f0d;
  border-radius: .3em;
  box-shadow: 4.2em 0 0 #5e2f0d;
}


    margin: 0 auto; 
}

.name-card {
    --font-color: #ffffff;
    --font-color-sub: #666;
    --bg-color: #090909;;
    --main-color: rgb(177, 36, 36);
    max-width: 200px;
    width: 100%;
    height: 254px;
    background: var(--bg-color);
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.card-photo {
  transform: scale(0.3) translate(220px, 230px);
  width: 250px;
  height: 250px;
  margin-left: -125px;
  margin-top: -125px;
  background: radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 14% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 10% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 7.5% 29%/20% 20%,radial-gradient(circle,rgba(0,0,0,0.15) 50%,rgba(0,0,0,0) 50.8%) 86% 30%/11% 11%,radial-gradient(circle,#ffdab9 50%,rgba(255,218,185,0) 50.8%) 90% 30%/16% 16%,radial-gradient(circle,#8b4513 50%,rgba(139,69,19,0) 50.8%) 92.5% 29%/20% 20%,radial-gradient(circle at 50% 0,#ffdab9 29.5%,#8b4513 30%,#8b4513 35%,rgba(139,69,19,0) 35.5%) 50% 95%/40% 20%,radial-gradient(ellipse at 50% 100%,rgba(139,69,19,0) 49%,#8b4513 49.5%,#8b4513 52%,rgba(139,69,19,0) 52.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(255,255,255,0) 35%,white 35%,white 45%,rgba(255,255,255,0) 45.5%) 50% 89%/40% 13%,linear-gradient(#8b4513,#8b4513) 37% 100%/.25em 22%,linear-gradient(#8b4513,#8b4513) 63% 100%/.25em 22%,linear-gradient(80deg,rgba(0,0,0,0) 50%,#333 50.5%) 24% 100%/1em 18%,linear-gradient(-80deg,rgba(0,0,0,0) 50%,#333 50.5%) 76% 100%/1em 18%,linear-gradient(162deg,rgba(0,0,0,0) 10%,#333 10%) 30% 100%/1.5em 21%,linear-gradient(-162deg,rgba(0,0,0,0) 10%,#333 10%) 70% 100%/1.5em 21%,radial-gradient(ellipse at 100% 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 0 100%/37% 29%,radial-gradient(ellipse at 0 100%,#556b2f 50%,rgba(85,107,47,0) 50.5%) 100% 100%/37% 29%,radial-gradient(ellipse at 50% 100%,#222 51%,rgba(0,0,0,0) 51.5%) 50% 110%/120% 40%,radial-gradient(circle at 50% 0,rgba(0,0,0,0.15) 40%,rgba(0,0,0,0) 40.5%) 50% 82%/20% 20%,linear-gradient(to right,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(to left,#8b4513 4px,rgba(139,69,19,0) 4px) 50% 80%/20% 20%,linear-gradient(#ffdab9,#ffdab9) 50% 80%/20% 20%,linear-gradient(#48240a,#48240a) 50% 100%/65% 60%,radial-gradient(circle,white 30%,rgba(255,255,255,0) 62%) 50% 50%/100% 100%;
  background-color: #ccc;
  background-repeat: no-repeat;
  border-radius: 30%;
}

/* delete */
.card-photo::before {
  display: block;
  content: '';
  position: absolute;
  box-sizing: border-box;
  width: 160px;
  height: 200px;
  left: 50%;
  top: -10%;
  margin-left: -80px;
  background: radial-gradient(circle at 50% 0,#ffdab9 30%,#8b4513 30.5%,#8b4513 41%,rgba(139,69,19,0) 41.5%) 50% 76%/2em 2em,radial-gradient(ellipse,rgba(139,69,19,0) 25%,#5e2f0d 25.5%,#5e2f0d 40%,rgba(139,69,19,0) 40.5%) 50% 100%/100% 40%,radial-gradient(ellipse at 50% 0,#8b4513 40%,#ffdab9 40.5%,#ffdab9 58%,rgba(255,218,185,0) 59%) 50% 83%/3em 1em,linear-gradient(#5e2f0d,#5e2f0d) 50% 86%/1em 1em,radial-gradient(circle,#5e2f0d 40%,rgba(139,69,19,0) 40.5%) 26% 56%/1em 1em,radial-gradient(circle,#5e2f0d 40%,rgba(139,69,19,0) 40.5%) 74% 56%/1em 1em,radial-gradient(ellipse,rgba(139,69,19,0) 52%,#8b4513 52.5%,#8b4513 55%,rgba(139,69,19,0) 55.5%) 50% 100%/150% 80%,radial-gradient(ellipse,rgba(0,0,0,0) 46%,rgba(0,0,0,0.15) 46.5%,rgba(0,0,0,0.15) 53%,rgba(0,0,0,0) 53%) 50% 100%/150% 80%,radial-gradient(ellipse,#ffdab9 53%,rgba(255,218,185,0) 53.5%) 50% 100%/150% 80%,radial-gradient(ellipse at 50% 100%,rgba(139,69,19,0) 35.5%,#8b4513 36%,#8b4513 38%,white 38.5%) 50% -45%/110% 60%,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 30% 26%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 40% 25%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 50% 24.5%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 60% 25%/1em 1em,radial-gradient(circle,#444 23%,rgba(0,0,0,0) 24%) 70% 26%/1em 1em,radial-gradient(ellipse,#666 63%,#8b4513 63.5%,#8b4513 66%,rgba(139,69,19,0) 66.5%) 50% 100%/150% 80%,radial-gradient(ellipse,rgba(139,69,19,0) 40%,#5e2f0d 40.5%) 50% 0/150% 80%,linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)) 50% 50%/100% 100%;
  background-repeat: no-repeat;
  background-color: #ffdab9;
  border-radius: 50% 50% 50% 50%/60% 60% 40% 40%;
  border: 4px solid #8b4513;
  box-shadow: inset 0 -.2em 0 .5em rgba(0,0,0,0.15),inset 0 -1.6em 0 #5e2f0d;
}

/* delete */
.card-photo::after {
  display: block;
  content: '';
  position: absolute;
  width: 2.5em;
  height: .8em;
  left: 28.5%;
  top: 26%;
  background-color: #5e2f0d;
  border-radius: .3em;
  box-shadow: 4.2em 0 0 #5e2f0d;
}

.card-title {
  text-align: center;
  color: var(--font-color);
  font-size: 20px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-title span {
  font-size: 15px;
  color: var(--font-color-sub);
}

.card-socials {
  display: flex;
  height: 0;
  opacity: 0;
  margin-top: 20px;
  gap: 20px;
  transition: 0.5s;
}

.card-socials-btn {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.card-socials-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
}


.name-card:hover > .card-socials {
  opacity: 1;
  height: 35px;
}


.card-socials-btn:hover {
  transform: translateY(-5px);
  transition: all 0.15s;
}

.name-card:hover > .card-socials {
  opacity: 1;
  height: 35px;
}

.card-socials-btn:hover {
  transform: translateY(-5px);
  transition: all 0.15s;
}

.card-photo:hover {
  transition: 0.3s;
  transform: scale(0.4) translate(160px, 150px);
}




/* ---------------------------------- Media quaeries ---------------------------------- */
@media (max-width: 768px) {
    .head {
        flex-direction: column; /* Stack items vertically on smaller screens */
        text-align: center;
    }


    .logo-container {
        margin-right: 0; /* Remove right margin for smaller screens */
        margin-bottom: 10px; /* Add bottom margin for spacing on smaller screens */
    }


    .head a {
        padding: 10px; /* Adjusted padding for links on smaller screens */
    }


    .header {
        padding: 30px; /* Adjusted padding for smaller screens */
        font-size: 18px; /* Adjusted font size for smaller screens */
    }


    .sponsors {
        grid-template-columns: repeat(1, 1fr);
    }


    .info-about-us {
        grid-template-columns: repeat(1, 1fr);
    }

    .name-card-container {
        grid-template-columns: 1fr; /* Display a single column on smaller screens */
        gap: 20px; /* Adjust the gap for better spacing on smaller screens */
    }

    .name-card {
        max-width: 100%; /* Adjusted max-width for better fit on smaller screens */
    }

    .details {
        left: 0;
        right: 0;
        bottom: 10px;
        height: auto;
    }

    .imgbox {
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
    }

    .img {
        background: #4158D0;
        background-image: linear-gradient(45deg, #4158D0, #C850C0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


@media screen and (max-width: 600px) {
    /* Change to 1 column on small screens */
    .cards-container {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}


@media screen and (min-width: 601px) and (max-width: 900px) {
    /* Change to 2 columns on medium screens */
    .cards-container {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}


