*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #0F0F0F;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* ---------------------------------- Header ------------------------------------------------------------------------- */
}

/* ---------------------------------- Header ------------------------------------------------------------------------- */
::selection {
    background-color: #9a1f1f;
}
  

.head {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 90%;
    margin: auto;
}

.head a {
    text-decoration: none;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    font-size: 1.15em;
    padding: 2.5vh;
    transition: 0.2s;
    font-size: 1.3em;
}

.logo {
    width: 40px;
    height: auto;
}

.logo-container {
    margin-right: 20px;
}

.head a:hover {
    color: #7495ce;
    
}

.header {
    padding: 50px;
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.577), rgba(0, 0, 0, 0.56) ), url("/imgs/5.03.23blog.jpg");
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/imgs/20220304_FIRSTRobotics.jpg");
    background-position: center;
    background-size: 100%;
    
    color: white;
    font-size: 24px;
    margin-bottom: 100px; 
}

/* ---------------------------------- Text ------------------------------------------------------------------------- */
.LIRT{
    text-align: center;
    color: white;
}
/* ---------------------------------- Socail Meida ------------------------------------------------------------------------- */

.links {
    position: fixed;
    top: 10px;
    right: 80px;
    display: flex;
    z-index: 1;
}

.fa {
    margin-left: 10px; /* Add margin between buttons */
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.2s;
}

/* Additional styling for each social media button */
.fa-instagram {
    color: white;
}

.fa-youtube {
    color: white;
}

.fa-twitter {
/*    background-color: #282A3A;*/
    color: white;
}

.LIRT {
    text-align: center;
    margin-top: 20px;
    color: #333; /* Adjust text color as needed */
}

  
.fa:hover {
    opacity: 0.7;
}
/* ---------------------------------- Srolling area ------------------------------------------------------------------------- */
h1{
    color: white;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: auto;
    margin-bottom: 150px;
    margin-bottom: 200px;
}

.slider-wrapper {
    position: relative;
}

.slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
    background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
}

.slider-wrapper .slide-button#next-slide {
    right: -25px;
}

.slider-wrapper .image-list {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 18px;
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
}

.slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
}

.container .slider-scrollbar {
    height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}

.slider-scrollbar .scrollbar-track {
    background: #3a3a3a;
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    position: relative;
    transition: 0.2s;
}

.slider-scrollbar:hover .scrollbar-track {
    height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    background: #ccc;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    cursor: grab;
    border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
    cursor: grabbing;
    height: 8px;
    top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
}

/* ---------------------------------- Text ---------------------------------- */
.LIRT{
    text-align: center;
    color: white;
}

/* ---------------------------------- Robot Overview ---------------------------------- */

.image-container {
    text-align: center;
    width: 50%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    background: url("/imgs/a1f97cbdcb612b8724b65cdc76a063d2ba1f6f9d.jpeg") center/cover no-repeat;
    padding: 220px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 50px;
}

/* ---------------------------------- Flip Cards ---------------------------------- */

.grid-container {
    width: 70%;
}

/* ---------------------------------- Media quaeries ---------------------------------- */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .head {
        flex-direction: column; /* Stack items vertically on smaller screens */
        text-align: center;
    }

    .logo-container {
        margin-right: 0; /* Remove right margin for smaller screens */
        margin-bottom: 10px; /* Add bottom margin for spacing on smaller screens */
    }

    .head a {
        padding: 10px; /* Adjusted padding for links on smaller screens */
    }

    .header {
        padding: 30px; /* Adjusted padding for smaller screens */
        font-size: 18px; /* Adjusted font size for smaller screens */
    }

    .sponsors {
        grid-template-columns: repeat(1, 1fr);
    }

    .info-about-us {
        grid-template-columns: repeat(1, 1fr); 
    }
}

.grid-container {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust column sizes */
    justify-content: center;
    gap: 10px;
}

.flip-card {
    background-color: transparent;
    height: 454px; /* Fixed height */
    font-family: sans-serif;
    width: 300px;
    padding: 15px;
}

.flip-card {
    background-color: transparent;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #461111;
  border-radius: 1rem;
}

.flip-card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
     rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.flip-card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
     bisque 40%, rgb(255, 185, 160) 78%);
  color: white;
  transform: rotateY(180deg);
}

/* ---------------------------------- Media quaeries ---------------------------------- */
@media only screen and (max-width: 1023px) {
    .slider-wrapper .slide-button {
        display: none !important;
    }

    .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
    }

    .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
    }

    .slider-scrollbar .scrollbar-thumb {
        width: 20%;
    }
}

@media (max-width: 768px) {
    .head {
        flex-direction: column; /* Stack items vertically on smaller screens */
        text-align: center;
    }

    .logo-container {
        margin-right: 0; /* Remove right margin for smaller screens */
        margin-bottom: 10px; /* Add bottom margin for spacing on smaller screens */
    }

    .head a {
        padding: 10px; /* Adjusted padding for links on smaller screens */
    }

    .header {
        padding: 30px; /* Adjusted padding for smaller screens */
        font-size: 18px; /* Adjusted font size for smaller screens */
    }

    .sponsors {
        grid-template-columns: repeat(1, 1fr);
    }

    .info-about-us {
        grid-template-columns: repeat(1, 1fr); 
    }
}
